@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

:root{
  --lusious-pink:#e11874;
  --pastel-pink:#f8dce1;
  --milk:#fbe6c7;
  --chocolate-milk:#AC3F3F;
  --rose-pink:#ea5f9e;
  --dark-gray:#333333;
  --glass:#fbe6c751;
}

html {
  scroll-behavior: smooth;
}


.App{
  font-family: "Montserrat", sans-serif;
  background-color: var(--milk);
  letter-spacing: 2px;
  overflow: hidden;
}

h1,h2,h3{
  font-family: "Pacifico", cursive;
  text-transform: capitalize;
}

header{
  width: 100%;
  position: absolute;
  padding: 2.1rem 6rem;
  position: fixed;
  background:url("./img/divider.png");
  height: 4rem;
  z-index: 1;
}

.nav-list{
  width: 100%;
  display: flex;
  list-style: none;
  font-family: "Pacifico", cursive;
  font-size: 1.2rem;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  float: right;
}

.nav-item{
  margin: 0 1rem;
}

.nav-item a{
  color: var(--milk);
  text-decoration: none;
}

.nav-item a:hover,.nav-item a:focus{
  text-decoration: underline;
  color: var(--pastel-pink);
}

.hamburger{
  display: none;
}

.hero-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--lusious-pink);
  padding: 0 4rem;
}

.about-brand{
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.brand{
  margin-top:5rem ;
  width: 50%;
}

.brand-name{
  font-size: 6rem;
  color: var(--pastel-pink);
  margin: 0;
}

.brand-tag{
  font-size: 1.6rem;
  line-height: 45px;
  color: white;
}

.brand-img{
  transform: rotate(20.5deg);
  position: relative;
  right: 4rem;
  top: .6rem;
}

.jump-menu{
  width: max-content;
  position: absolute;
  top: 29rem;
  transform: translateX(50%);
  padding:.7rem 1.5rem;
  border-radius: 21px;
  background-color: var(--milk);
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

.jump-menu a{
  text-decoration: none;
  color: var(--chocolate-milk);
}

.jump-menu:hover{
  box-shadow: .5px 5px 10px var(--rose-pink);
  outline: .2rem solid var(--chocolate-milk);
  outline-offset: 4px;
  background-color: var(--pastel-pink);
}

.divider{
  width: 100%;
  height: 6rem;
  background-image: url("./img/divider.png");
  background-size: 500px;
  margin-top: 0;
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 2rem; 
  box-sizing: border-box;
  gap: 5rem;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 4rem;
}

.product {
  width: 20rem;
  height: fit-content;
  margin: 0 1rem;
  border: 4px solid var(--chocolate-milk);
  border-radius: 105px 105px 0 0;
  padding: 1rem 1.5rem 0 1.5rem;
  color: var(--dark-gray);
  font-size: .9rem;
  box-shadow: 1px 1px 10px;
  background-color: white;
  box-sizing: border-box;
}


.product img{
  width: 100%;
  border-radius: 40% 40% 0 0;
}

.price-details{
  display: flex;
  justify-content: space-between;
}

.cart{
  width: 1rem;
  height: 1rem;
  padding: .4rem;
  background-color: var(--rose-pink);
  border-radius: 50%;
}

.product-name{
  color: var(--chocolate-milk);
  font-size: 1.2rem;
  text-align: center;
}

.product-price{
  font-weight: 600;
}

.menu-header{
  text-align: center;
  margin: 6rem 0;
  font-size: 3rem;
  color: var(--lusious-pink);
}

.review{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings img{
  width: 1rem;
}

.about{
  font-size: 1.5rem;
  margin-top: 4rem;
  display: flex;
}

.about img{
  position: absolute;
}

.total-orders{
  font-size: 9px;
  margin-left: 4px;
}

.top-art{
  width: 18rem;
  transform: translateY(30rem);
}

.bottom-art{
  right: 0;
  transform: translateY(-12%);
  width: 25rem;
}


.article{
  padding: 5rem;
  color: var(--dark-gray);
}

.article>h2{
  color: var(--lusious-pink);
  text-align: center;
}

article{
  margin: 0 9rem;
}

#review-card{
  margin-top: 6rem;
}

#review-card h2{
  text-align: center;
  color: var(--lusious-pink);
  font-size: 2rem;
}

.testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  margin-top: 2rem;
}

.test-card{
  width: 25rem;
  background-color: var(--pastel-pink);
  border: 2px solid var(--lusious-pink);
  padding:0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  border-radius: 23px;
  box-shadow: 2px 2px 10px var(--chocolate-milk);
}

.up-card{
  left: 8rem;
  transform: translateY(-10rem);
}

.up-card::after{
  content: "";
  position: absolute;
  transform: rotate(134deg);
  bottom: -2.3rem;
  right: -2.5rem;
  border-width: 2rem;
  border-style: solid;
  border-color:transparent transparent var(--lusious-pink) transparent;
}

.down-card{
  right: 6rem;
  transform: translateY(14rem);
}

.down-card::after{
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  top: -2.3rem;
  left: -2.3rem;
  border-width: 2rem;
  border-style: solid;
  border-color:transparent transparent var(--lusious-pink) transparent;
}

.divider-2{
  width: 100%;
  height: 12.3rem;
  background-image: url("./img/div-2.png");
  background-size:600px;
  margin-top: 0;
  position: absolute;
}

footer{
  margin-top: 5rem;
  background-image: url("https://i.pinimg.com/564x/aa/92/a8/aa92a80df78da731ef7be65c9a600b82.jpg");
  padding-top: 8rem;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--glass);
  margin: 0 5rem;
}

.delivery{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.contact{
  display: flex;
  width: 12rem;
  height: 19rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2rem 3rem;
  margin: 0 2rem;
  background-color: var(--pastel-pink);
  border: 1rem solid var(--rose-pink);
  border-image:repeating-linear-gradient(45deg, transparent, transparent 5px, pink 6px, var(--rose-pink) 15px, transparent 16px, transparent 20px) 20/1rem;
}

.address{
  font-weight: 600;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

input[type=text], input[type=email]{
  width: 100%;
  padding: 1rem;
  margin: .6rem 0;
}

.message{
  width: 100%;
  padding: 1rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.form--submit{
  margin: auto;
  margin-top: .6rem;
  padding:.5rem 1rem;
  border-radius: 23px;
  background-color: var(--lusious-pink);
  color: var(--pastel-pink);
  border: none;
}

.form--submit:hover{
  outline: 0.2rem solid var(--rose-pink);
  outline-offset: 4px;
  background-color: var(--rose-pink);
}

@media only screen and (max-width: 450px) { 
  body{
    overflow-x: hidden;
  }
  header{
    height: 6rem;
    background-size: 500px;
    padding: 0;
  }

  .nav-list{
    display: none;
  }

  .nav-item{
    text-align: center;
    margin: 2rem 0;
    font-family: "Pacifico", cursive;
    font-size: 1.2rem;
  }

  .nav-item:hover,.nav-item:focus{
    color: #ff1493;
  }

  .hamburger{
    font-size: 2rem;
    display: block;
    position: absolute;
    right: 1rem;
    color: var(--pastel-pink);
  }

  .hero-section{
    padding: 0 1rem;
  }
  
  .brand-name{
    font-size: 2rem;
  }
  
  .brand-tag{
    font-size: 1rem;
    line-height: 35px;
  }
  
  .brand-img{
    width: 12rem;
    transform: rotate(20.5deg);
    position: relative;
    right: 3rem;
    top: 7rem;
  }
  .brand-img img{
    width: 100%;
  }
  
  .jump-menu{
    top: 25rem;
    right: 6rem;
    transform: translateX(0);
    padding:.5rem 1.2rem;
    font-size: .8rem;
  }

  .delivery{
    flex-direction: column;
    margin-top: 2rem;
  }

  .contact{
    width: 10rem;
    height: 15rem;
    padding:2rem;
    margin: 2rem;
  }

  
.menu {
  display: flex;
  flex-direction: column;
  padding: 0; 
  margin-left: 0;
  margin: 0 1rem;
}

.product {
  width: 90%;
  height: fit-content;
  margin: 0;
  border: none;
  border-radius:  0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.product img{
  border-radius: 40% 40% 0 0;
}

.price-details{
  display: flex;
  justify-content: space-between;
}

.cart{
  width: 1rem;
  height: 1rem;
  padding: .4rem;
  background-color: var(--rose-pink);
  border-radius: 50%;
}

.product-name{
  color: var(--chocolate-milk);
  font-size: 1.2rem;
  text-align: center;
}

.product-price{
  font-weight: 600;
}

.menu-header{
  margin: 2rem;
  font-size: 1.5rem;
}

.review{
  flex-direction: column;
}

.about{
  flex-direction: column;
  font-size: 1rem;
}
.top-art{
  width: 10rem;
  transform: translateY(40rem);
}

.bottom-art{
  right: -1rem;
  transform: translateY(-20%);
  width: 10rem;
}


.article{
  padding: 0;
}

article{
  margin: 0 1rem;
}

#review-card{
  display: none;
  margin-top: 9rem;
}

#review-card h2{
  font-size: 1.5rem;
}

.footer{
  flex-direction: column;
  margin: 0 1rem;
}

.form{
  padding: .1rem;
}

input[type=text], input[type=email]{
  width: 90%;
}

.message{
  width: 90%;
}

}
