@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
:root{
  --lusious-pink:#e11874;
  --pastel-pink:#f8dce1;
  --milk:#f7f5dd;
  --chocolate-milk:#D2691E;
  --rose-pink:#FF69B4;
}

.App{
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.hero-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--lusious-pink);
  padding: 0 4rem;
}

.about-brand{
  display: flex;
  justify-content: space-around;
}

.brand{
  margin-top:5rem ;
  width: 50%;
}

.brand-name{
  font-size: 6rem;
  font-family: "Pacifico", cursive;
  color: var(--pastel-pink);
  margin: 0;
}

.brand-tag{
  font-size: 1.6rem;
  line-height: 45px;
  color: white;
}

.brand-img{
  transform: rotate(20.5deg);
  position: relative;
  right: 4rem;
  top: .6rem;
}

.jump-menu{
  width: max-content;
  position: absolute;
  top: 25rem;
  transform: translateX(50%);
  padding:.7rem 1.5rem;
  border-radius: 21px;
  background-color: var(--milk);
  color: var(--chocolate-milk);
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

.jump-menu:hover{
  box-shadow: .5px 5px 10px var(--rose-pink);
}

.divider{
  width: 100%;
  height: 6rem;
  background-image: url("./img/divider.png");
  background-size: 500px;
  margin-top: 0;
}